LOCAL_SERVER_HOST=127.0.0.1
LOCAL_SERVER_PORT=12700
LOCAL_SERVER_NAME=Kanami Local Server
LOCAL_SERVER_REMOTE_HOST=local-server.kanami.top
LOCAL_SERVER_REMOTE_URL=https://local-server.kanami.top
LOCAL_SERVER_REMOTE_CONNECTED=true
LOCAL_SERVER_FILES_DIR=./files
LOCAL_SERVER_GALLERY_DIR=../KanamiBot/data/advanced_media
LOCAL_SERVER_CLOUDFLARED_BIN=cloudflared
LOCAL_SERVER_TUNNEL_TARGET=http://127.0.0.1:12700
TUNNEL_TOKEN=
