.env
env
.run/
*.log
node_modules/
__pycache__/
*.pyc

data/*
!data/.gitkeep

files/*
!files/.gitkeep
!files/WIKI/
files/WIKI/*
!files/WIKI/scripts/
!files/WIKI/scripts/download_wiki_resources.py
!files/WIKI/requirements.txt
